extends ./../layout

block body
  
 .container
   h1 user login
   
   form(role='form', ation='/auth/local', method='post')
    .form-group
      label(for='email') Email address:
      input#email.form-control(type='email')

    .form-group
      label(for='pwd') Password:
      input#pwd.form-control(type='password')
    
    button.btn.btn-default(type='submit') Submit


block scripts
