#splash {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url(../../img/splash.png);
  background-size: 100% 100%;
  z-index: 9999;
  height: auto;
  width: auto;
}
#splash img {
  width: 40%;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -20%;
  margin-left: -20%;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* hotfix for find-my-loc button */

span.find-my-loc {
  cursor: pointer;
  position: absolute;
  right: 10px;
  padding: 5px;
  width: 28px;
  height: 26px;
  display: table;
  bottom: 80px;
  z-index: 3;
  background-color: white;
}

/* map-marker */

.map-marker .get {
  border: 3px solid #28a7e1;
}
.map-marker .give {
  border: 3px solid #f39800;
}

/* infobox之img最小高度*/

.infobox .inner .image img {
  min-height: 140px;
    min-height: 150px;
}

/* faviraite-button */

div.favbox {
  position: absolute;
  right: 0px;
  top: 30px;
  z-index: 9999;
  padding: 7.6px;
  background-color: #36b6ff;
  color: white;
}
div.favbox > a > i:hover {
  color: red;
}
div.favbox > a > i {
  color: white;
}

/* hotfix for postDetail's description section */

#outer-wrapper #page-canvas {
  height: auto;
}

/* hotfix for item result list height */

.items-list .inner .results, .items-list .inner {
  height: auto;
}

/* hot fix remove page buttom space */

#page-content{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
