#splash {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url(../../img/splash.png);
  background-size: 100% 100%;
  z-index: 9999;
  height: auto;
  width: auto;
}

#splash  img {
  width: 40%;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -20%;
  margin-left: -20%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}



.map-marker .get {
  border: 3px solid #28a7e1;
}

.map-marker .give {
  border: 3px solid #f39800;
}
