.navbar
  .navbar-inner
    .left
      a.back.link(href='#')
        i.icon.icon-back-blue
        span Back
.pages
  #registerFinish.page(data-page='403')
    .page-content
      .content-block
        #greeting
          h2
            | Welcome to Trade Much.
            p Please log in to get better user experience, dear friend :)
            a.button.external.active(href='/auth/facebook') Login
