extends ./layout

block body
  .views
      .view.view-main.layout-white
        .navbar
          .navbar-inner
            // We need cool sliding animation on title element, so we have additional "sliding" class
            a.left.external(href='/')
              img(src='/img/logo.png', alt='logo', style="height: 45px;")
            //- a#nextSetp.right(href='/storyCategory', data-context="" disabled) Next
        .pages
          .page.navbar-fixed(data-page='browseBar')
            //- iframe(src='http://localhost:1337/main', style="height: 100%; width: 100%;")
            .toolbar.tabbar.tabbar-labels
              .toolbar-inner
                a.tab-link.active(href='#tab1')
                  img(src='/img/map.png', alt='map', style="height: 35px;")
                a.tab-link(href='/postDetail')
                  img(src='/img/list.png', alt='list', style="height: 35px;")
                a.tab-link(href='/search')
                  img(src='/img/search.png', alt='search', style="height: 35px;")
                a.tab-link(href='/story')
                  img(src='/img/build.png', alt='build', style="height: 35px;")
            .page-content
              .content-block
                .tabs
                 #tab1.tab.active
                  iframe(src='http://localhost:1337/main', style="height: 100%; width: 100%;")
                 #tab2.tab
                  iframe(src='http://localhost:1337/postDetail', style="height: 100%; width: 100%;")
                 #tab3.tab
                  iframe(src='http://localhost:1337/search', style="height: 100%; width: 100%;")
                 #tab4.tab
                   iframe(src='http://localhost:1337/story', style="height: 100%; width: 100%;")     
