extends ./layout

block body
    // Status bar overlay for full screen mode (PhoneGap)
    .statusbar-overlay
    // Panels overlay
    .panel-overlay
    // Left panel with reveal effect
    .panel.panel-left.panel-reveal
      .content-block
        p Left panel content goes here
    // Views
    .views
      // Your main view, should have "view-main" class
      .view.view-main
        // Top Navbar
        .navbar
          .navbar-inner
            // We need cool sliding animation on title element, so we have additional "sliding" class
            .center.sliding Awesome App
            |             
            .right
              //
                Right link contains only icon - additional "icon-only" class
                Additional "open-panel" class tells app to open panel when we click on this link
              a.link.icon-only.open-panel(href='#')
                i.icon.icon-bars-blue
        // Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes
        .pages.navbar-through.toolbar-through
          // Page, "data-page" contains page name
          .page(data-page='index')
            // Scrollable page content
            .page-content
              p Page content goes here
              // Link to another page
              a(href='templates/about.html') About app
              //- a(href="#" class="button button-big button-fill") Big Fill Button 
              a(href="#" class="button button-round button-fill") Round Fill Button
        // Bottom Toolbar
        .toolbar
          .toolbar-inner
            // Toolbar links
            a.link(href='#') Link 1
            |             
            a.link(href='#') Link 2
        
  block scripts
