.row.no-gutter
  .col-100.tablet-50.hobbyItem 時尚
    input(type='checkbox', name='hobby', value='1')
  .col-100.tablet-50.hobbyItem 美妝保養
    input(type='checkbox', name='hobby', value='2')
.row.no-gutter
  .col-50.tablet-25.hobbyItem 設計工藝
    input(type='checkbox', name='hobby', value='3')
  .col-50.tablet-25.hobbyItem 生活3C
    input(type='checkbox', name='hobby', value='4')
  .col-50.tablet-25.hobbyItem 運動用品
    input(type='checkbox', name='hobby', value='5')
  .col-50.tablet-25.hobbyItem 攝影拍照
    input(type='checkbox', name='hobby', value='6')
.row.no-gutter
  .col-100.tablet-40.hobbyItem 名牌精品
    input(type='checkbox', name='hobby', value='7')
  .col-50.tablet-60.hobbyItem 復古風情
    input(type='checkbox', name='hobby', value='8')
  .col-50.tablet-50.hobbyItem 遊戲玩物
    input(type='checkbox', name='hobby', value='9')
  .col-100.tablet-50.hobbyItem 傢具傢居
    input(type='checkbox', name='hobby', value='10')
.row.no-gutter
  .col-50.tablet-25.hobbyItem 課本買賣
    input(type='checkbox', name='hobby', value='11')
  .col-50.tablet-25.hobbyItem 書籍雜誌
    input(type='checkbox', name='hobby', value='12')
  .col-50.tablet-25.hobbyItem 樂器樂譜
    input(type='checkbox', name='hobby', value='13')
  .col-50.tablet-25.hobbyItem 廚房家電
    input(type='checkbox', name='hobby', value='14')
.row.no-gutter
  .col-100.tablet-40.hobbyItem 寶寶時尚
    input(type='checkbox', name='hobby', value='15')
  .col-50.tablet-60.hobbyItem 寵物用品
    input(type='checkbox', name='hobby', value='16')
  .col-50.tablet-50.hobbyItem 票卷交換
    input(type='checkbox', name='hobby', value='17')
  .col-100.tablet-50.hobbyItem 哩哩扣扣
    input(type='checkbox', name='hobby', value='18')
