extends ./layout

block body
  .views
      .view.view-main.layout-white
        .navbar
          .navbar-inner
            // We need cool sliding animation on title element, so we have additional "sliding" class
            a.left.external(href='/')
              img(src='/img/logo.png', alt='logo', style="height: 45px;")
            -if(isHasMail == "true")
              a#nextSetp.right(href='templates/finish.html', data-context="" disabled) Next
            -else
              a#nextSetp.right(href='templates/finishMail.html', data-context="" disabled) Next
        .pages
          .page.navbar-fixed(data-page='hobbyPage')
            .page-content
              form#hobbySelect.store-data
                include ./hobbyItems.jade
  block scripts
