extends ./layout

block body
  .views
      .view.view-main
          .pages
            .page.navbar-fixed(data-page='hobby')
              .page-content
                  .row.no-gutter
                    .col-100.tablet-50 .col-100.tablet-50
                    .col-100.tablet-50 .col-100.tablet-50
                  .row.no-gutter
                    .col-50.tablet-25 .col-50.tablet-25
                    .col-50.tablet-25 .col-50.tablet-25
                    .col-50.tablet-25 .col-50.tablet-25
                    .col-50.tablet-25 .col-50.tablet-25
                  .row.no-gutter
                    .col-100.tablet-40 .col-100.tablet-40
                    .col-50.tablet-60 .col-50.tablet-60
        
  block scripts
    
