extends ./layout

block body
  #outer-wrapper
      // Inner Wrapper
      #inner-wrapper
        // Navigation
        .header
          .wrapper
            .brand
              a(href='index-real-estate.html')
                img(src='/images/logo-real-estate.png', alt='logo')
            nav.navigation-items
              .wrapper
                ul.main-navigation.navigation-top-header
                ul.user-area
                  li
                    a(href='sign-in.html') Sign In
                  li
                    a(href='register.html')
                      strong Register
                a.submit-item(href='submit.html')
                  .content
                    span Submit Your Item
                  .icon
                    i.fa.fa-plus
                .toggle-navigation
                  .icon
                    .line
                    .line
                    .line
        // end Navigation
        // Page Canvas
        #page-canvas
          // Off Canvas Navigation
          nav.off-canvas-navigation
            header Navigation
            .main-navigation.navigation-off-canvas
          // end Off Canvas Navigation
          // Page Content
          #page-content
            // Map Canvas
            .map-canvas.list-solid
              // Map
              .map
                .toggle-navigation
                  .icon
                    .line
                    .line
                    .line
                // /.toggle-navigation
                #map.has-parallax
              // end Map
              // Items List
              .items-list
                .inner
                  .filter
                    form.main-search(role='form', method='post', action='?')
                      header.clearfix
                        h3.pull-left Search
                        a.show-more.pull-right(href='#advanced-search', data-toggle='collapse', aria-expanded='false', aria-controls='advanced-search') Advanced Search
                      #advanced-search.advanced-search.collapse
                        h4 Features
                        ul.list-unstyled.checkboxes
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='1')
                                | Free Parking
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='2')
                                | Cards Accepted
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='3')
                                | Wi-Fi
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='4')
                                | Air Condition
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='5')
                                | Reservations
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='6')
                                | Team-buildings
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='7')
                                | Places to seat
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='8')
                                | Winery
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='9')
                                | Draft Beer
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='10')
                                | LCD
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='11')
                                | Saloon
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='12')
                                | Free Access
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='13')
                                | Terrace
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='14')
                                | Minigolf
                          li
                            .checkbox
                              label
                                input(type='checkbox', name='features[]', value='15')
                                | Night Bar
                      .row
                        .col-md-6
                          .form-group
                            label(for='type') Property Type
                            select#type(name='type', multiple='', title='All', data-live-search='true')
                              option(value='1') Stores
                              option.sub-category(value='2') Apparel
                              option.sub-category(value='3') Computers
                              option.sub-category(value='4') Nature
                              option(value='5') Tourism
                              option(value='6') Restaurant &amp; Bars
                              option.sub-category(value='7') Bars
                              option.sub-category(value='8') Vegetarian
                              option.sub-category(value='9') Steak &amp; Grill
                              option(value='10') Sports
                              option.sub-category(value='11') Cycling
                              option.sub-category(value='12') Water Sports
                              option.sub-category(value='13') Winter Sports
                          // /.form-group
                        // /.col-md-6
                        .col-md-3
                          .form-group
                            label(for='bedrooms') Bedrooms
                            .input-group.counter
                              span.input-group-btn
                                button.btn.btn-default(type='button')
                                  i.fa.fa-minus
                              input#bedrooms.form-control(type='text', name='bedrooms', placeholder='Any')
                              span.input-group-btn
                                button.btn.btn-default(type='button')
                                  i.fa.fa-plus
                            // /input-group
                          // /.form-group
                        // /.col-md-3
                        .col-md-3
                          .form-group
                            label(for='bathrooms') Bathrooms
                            .input-group.counter
                              span.input-group-btn
                                button.btn.btn-default(type='button')
                                  i.fa.fa-minus
                              input#bathrooms.form-control(type='text', name='bathrooms', placeholder='Any')
                              span.input-group-btn
                                button.btn.btn-default(type='button')
                                  i.fa.fa-plus
                            // /input-group
                          // /.form-group
                        // /.col-md-3
                        .col-md-6
                          .form-group
                            label(for='location') Location
                            .input-group.location
                              input#location.form-control(type='text', placeholder='Enter Location')
                              span.input-group-addon
                                i.fa.fa-map-marker.geolocation(data-toggle='tooltip', data-placement='bottom', title='Find my position')
                          // /.form-group
                        .col-md-6
                          .form-group
                            label Price
                            #price-slider.ui-slider(data-value-min='100', data-value-max='40000', data-value-type='price', data-currency='$', data-currency-placement='before')
                              .values.clearfix
                                input.value-min(name='value-min[]', readonly='')
                                input.value-max(name='value-max[]', readonly='')
                              .element
                          // /.form-group
                        // /.col-md-6
                      // /.row
                    // /.main-search
                  // end Filter
                  header.clearfix
                    h3.pull-left Results
                    .buttons.pull-right
                      span Display:
                      span#display-grid.icon.active
                        i.fa.fa-th
                      span#display-list.icon
                        i.fa.fa-th-list
                  ul.results.grid
                // results
              // end Items List
            // end Map Canvas
          // end Inner Wrapper
        // end Outer Wrapper

    block scripts
      script.
        var _latitude = 51.541216;
        var _longitude = -0.095678;
        var jsonPath = '/json/real-estate.json.txt';
        // Load JSON data and create Google Maps
        $.getJSON(jsonPath)
          .done(function(json) {
            createHomepageGoogleMap(_latitude,_longitude,json);
          })
          .fail(function( jqxhr, textStatus, error ) {
            console.log(error);
          });
        // Set if language is RTL and load Owl Carousel
        $(window).load(function(){
          var rtl = false; // Use RTL
          initializeOwl(rtl);
        });
        autoComplete();

      //- 
