doctype html(lang='en-US')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Spotter - Universal Directory Listing HTML Template
  body#page-top.map-fullscreen.page-homepage.navigation-off-canvas()
    #splash
      img(src='../img/splashLogo.png', alt='splashLogo')
      
  script(type='text/javascript', src='/js/map/jquery-2.1.0.min.js')
  script.  
          window.setTimeout(function() {
            $('#splash').addClass('animated fadeOut');
            window.setTimeout(function() {
              window.location.assign("/main");
                //- $('#splash').hide();
            },1000);
          }, 2000);
          
