doctype html
html
  head
    title ec-platform

    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // Your app title
    title My App

    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        
    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/css/framework7.ios.css")
    link(rel="stylesheet", href="/styles/css/hobby.css")
    link(rel="stylesheet", href="/styles/css/storyDetail.css")
    // STYLES END
    
    block styles
      
  body
    head
      // Path to Framework7 iOS related color styles
      link(rel='stylesheet', href='bower/framework7/css/framework7.ios.colors.min.css')
      // Path to your custom app styles
      link(rel='stylesheet', href='bower/framework7/css/my-app.css')
      
    block body
      
    
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/bower/jquery/jquery.js")
    script(src="/bower/bootstrap-sass/bootstrap.js")
    script(src="/bower/framework7/js/framework7.js")
    script(src="/js/favbox.js")
    script(src="/js/index.js")
    script(src="/js/main.js")
    script(src="/js/storyDetail.js")
    // SCRIPTS END

    block scripts
