doctype html(lang='en-US')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/fonts/font-awesome.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='styles/bootstrap/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/bootstrap-select.min.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/owl.carousel.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/jquery.mCustomScrollbar.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/style.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/colors/blue.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/user.style.css', type='text/css')
  link(rel='stylesheet', href='styles/mapCss/index.css', type='text/css')
  title Spotter - Universal Directory Listing HTML Template
  body#page-top.map-fullscreen.page-homepage.navigation-off-canvas(onunload='')
    // Outer Wrapper
    //- #splash
    //-   img(src='../img/logo.png', alt='logo')
    #outer-wrapper
      // Inner Wrapper
      #inner-wrapper
        // Navigation
        .header
          .wrapper
            .brand
              a(href='/')
                img(src='../img/logo.png', alt='logo' style="height: 45px;")
            nav.navigation-items
              .wrapper
                ul.main-navigation.navigation-top-header
                ul.main-navigation
                  li
                    a(href='/auth/facebook') Login 
                a.submit-item(href='/story')
                  .content
                    span Submit Your Item
                  .icon
                    i.fa.fa-plus
                //- .toggle-navigation
                //-   .icon
                //-     .line
                //-     .line
                //-     .line
        // end Navigation
        // Page Canvas
        #page-canvas
          // Off Canvas Navigation
          nav.off-canvas-navigation
            header Navigation
            .main-navigation.navigation-off-canvas
          // end Off Canvas Navigation
          // Page Content
          #page-content
            // Map Canvas
            .map-canvas.list-width-30
              // Map
              .map
                // find-my-loc 
                .location     
                  span.input-group-addon.find-my-loc.geolocation
                    i.fa.fa-map-marker.geolocation(data-toggle='tooltip', data-placement='bottom', title='Find my position')
                // end find-my-loc
                .toggle-navigation
                  .icon
                    .line
                    .line
                    .line
                // /.toggle-navigation
                #map.has-parallax        
                // /#map
                //- .search-bar.horizontal
                //-   form.main-search.border-less-inputs(role='form', method='post')
                //-     .input-row
                //-       .form-group
                //-         input#keyword.form-control(type='text', placeholder='Enter Keyword')
                //-       // /.form-group
                //-       .form-group
                //-         .input-group.location
                //-           input#location.form-control(type='text', placeholder='Enter Location')
                //-           span.input-group-addon
                //-             i.fa.fa-map-marker.geolocation(data-toggle='tooltip', data-placement='bottom', title='Find my position')
                //-       // /.form-group
                //-       .form-group
                //-         select(name='category', multiple='', title='Select Category', data-live-search='true')
                //-           option(value='1') Stores
                //-           option.sub-category(value='2') Apparel
                //-           option.sub-category(value='3') Computers
                //-           option.sub-category(value='4') Nature
                //-           option(value='5') Tourism
                //-           option(value='6') Restaurant &amp; Bars
                //-           option.sub-category(value='7') Bars
                //-           option.sub-category(value='8') Vegetarian
                //-           option.sub-category(value='9') Steak &amp; Grill
                //-           option(value='10') Sports
                //-           option.sub-category(value='11') Cycling
                //-           option.sub-category(value='12') Water Sports
                //-           option.sub-category(value='13') Winter Sports
                //-       // /.form-group
                //-       .form-group
                //-         button.btn.btn-default(type='submit')
                //-           i.fa.fa-search
                //-       // /.form-group
                //-     // /.input-row
                //-   // /.main-search
                //- // /.search-bar
              // end Map
              // Items List
              .items-list
                .inner
                  header
                    h3 Results
                  ul.results.list
                // results
              // end Items List
            // end Map Canvas
          // end Inner Wrapper
        // end Outer Wrapper
        script(type='text/javascript', src='/js/map/jquery-2.1.0.min.js')
        script(type='text/javascript', src='/js/map/before.load.js')
        script(type='text/javascript', src='/js/map/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='/styles/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/map/smoothscroll.js')
        script(type='text/javascript', src='/js/map/bootstrap-select.min.js')
        script(type='text/javascript', src='/js/map/jquery.hotkeys.js')
        script(type='text/javascript', src='/js/map/jquery.nouislider.all.min.js')
        script(type='text/javascript', src='/js/map/jquery.mCustomScrollbar.concat.min.js')
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&libraries=places')
        script(type='text/javascript', src='/js/map/infobox.js')
        script(type='text/javascript', src='/js/map/richmarker-compiled.js')
        script(type='text/javascript', src='/js/map/markerclusterer.js')
        script(type='text/javascript', src='/js/map/custom.js')
        script(type='text/javascript', src='/js/map/maps.js')
        script.
          
          //- window.setTimeout(function() {
          //-   $('#splash').addClass('animated fadeOut');
          //-   window.setTimeout(function() {
          //-     $('#splash').hide();
          //-   },1000);
          //- }, 2000);
          
          var _latitude = 51.541216;
          var _longitude = -0.095678;
          //- var jsonPath = '/json/items.json.txt';
          // Load JSON data and create Google Maps
          $.ajax({
            url: "/getAllPost",
            type:"POST",
            success: function(json){
              console.log(json);
              createHomepageGoogleMap(_latitude,_longitude,json);
            },
            error:function(xhr, ajaxOptions, thrownError){
              console.log(xhr.status);
              console.log(thrownError);
            }
          });
          //- $.getJSON(jsonPath)
          //- .done(function(json) {
          //-   createHomepageGoogleMap(_latitude,_longitude,json);
          //- })
          //- .fail(function( jqxhr, textStatus, error ) {
          //-   console.log(error);
          //- });
          // Set if language is RTL and load Owl Carousel
          $(window).load(function(){
          var rtl = false; // Use RTL
            initializeOwl(rtl);
          });
          autoComplete();
