extends ./layout

block body
  .views.layout-white
    .view.view-main(data-page='home')
        .navbar
          .navbar-inner
            .wrapper
              a.left.external(href='/')
                img(src='/img/logo.png', alt='logo', style="height: 45px;") 
            .wrapper
              a.right.top.external(href='/auth/facebook')
                img.action(src='/img/build.png', alt='build', style="height: 35px;")
        .pages
          .page.toolbar-fixed(data-page='home')
            .toolbar.tabbar
              .toolbar-inner
                a.tab-link.active(href='#mapView')
                  img(src='/img/map.png', alt='map', style="height: 35px;")  
                a.tab-link(href='#favoriteView')
                  img(src='/img/list.png', alt='list', style="height: 35px;")
                a.tab-link(href='#searchView')
                  img(src='/img/search.png', alt='search', style="height: 35px;")
                a.link(href='/story')
                  img(src='/img/build.png', alt='build', style="height: 35px;")
            |         
            .page-content
              .content-block
                .tabs
                  #mapView.tab.active
                    iframe(src='/map', style="height: 100%; width: 100%; border: 0;")
                  |               
                  #favoriteView.tab
                    .card.demo-card-header-pic
                      .card-header.color-white.no-border(style='background-image:url(http://lorempixel.com/600/337/nature/)', valign='bottom') Journey To Mountains
                      .card-content
                        .card-content-inner
                          p.color-gray Posted on January 21, 2015
                          p Quisque eget vestibulum nulla...
                      .card-footer
                        a.link(href='templates/finish.html') Like
                    .card.demo-card-header-pic
                      .card-header.color-white.no-border(style='background-image:url(http://lorempixel.com/600/337/nature/)', valign='bottom') Journey To Mountains
                      .card-content
                        .card-content-inner
                          p.color-gray Posted on January 21, 2015
                          p Quisque eget vestibulum nulla...
                      .card-footer
                        a.link(href='templates/finish.html') Like????
                    .card.demo-card-header-pic
                      .card-header.color-white.no-border(style='background-image:url(http://lorempixel.com/600/337/nature/)', valign='bottom') Journey To Mountains
                      .card-content
                        .card-content-inner
                          p.color-gray Posted on January 21, 2015
                          p Quisque eget vestibulum nulla...
                      .card-footer
                        a.link(href='templates/finish.html') Like            
                  |               
                  #searchView.tab
                    form#formSearch.searchbar
                     // Search bar
                     .searchbar-input
                       input.i18n(type='search', data-i18n='[placeholder]global.search')
                       a.searchbar-clear(href='#') clear
                       a.searchbar-cancel.i18n(href='#', data-i18n='global.cancel') cancel
                    // Search bar overlay
                    .searchbar-overlay
                    .page-content
                      .list-block.contacts-list.searchbar-found
                        .list-group
                          ul#search-result.items-list
                          //f7
                          script(type='text/template7', id="searchResult").
                            {{#each this.items}}
                              <li class="">
                                <div class="card demo-card-header-pic">
                                  <div style="background-image:url({{gallery}})" valign="middle" class="card-header color-white no-border">{{itemname}}</div>
                                  <div class="card-content">
                                    <div class="card-content-inner">
                                      <p class="color-gray">Posted on January 21, 2015</p>
                                      <p>Quisque eget vestibulum nulla...</p>
                                    </div>
                                  </div>
                                  <div class="card-footer"><a href="#" data-id="undefined" class="link">Like</a></div>
                                </div>
                              </li>
                            {{/each}}
                          // Items List
    link(rel="stylesheet", href="/styles/css/main.css")
