.navbar
  .navbar-inner
    .left
     p
      a.back.link(href='#', onClick="window.history.back();")
      i.icon.icon-back-white.icon-back
      span Back
.pages
  .page(data-page='postDetailF7')
    input#itemId(type="hidden",value='#{post.id}')
    .page-content
      .content-block
        iframe#item(src='/postDetail/#{post.id}', style="height: 100%; width: 100%; border: 0;")
