.navbar
  .navbar-inner
    .left
      a.back.link(href='#')
        i.icon.icon-back-blue
        span Back
.pages
  .page(data-page='postDetailF7')
    .page-content
      .content-block
        iframe(src='/postDetail/1', style="height: 100%; width: 100%; border: 0;")
