
link(rel='stylesheet', href='styles/css/storyDetail.css', type='text/css')
.navbar
    .navbar-inner
        .left
          a.back.link(href='#')
            i.icon.icon-back-white.icon-back
            span Back
        .right
          a#finishStep Finish
    .pages
      .page.navbar-fixed(data-page='storyDetail')
        .page-content
          -console.log(categoryItems);
          form#storyImageUpload
            .list-block
              .item-content
                .item-inner
                  .item-input.fileUpload-input
                    .btn.btn-primary.fileUpload-btn
                      span Upload photos
                      input.uploadBtn(form='storyImageUpload', type='file', accept="image/*", name='image', capture)
                    img.preview 
          form#storyDetailChoose
            .list-block
              .item-content
                .item-inner
                  .item-input
                    input(type='text', name='title', placeholder='Enter title here!')
              .item-content
                .item-inner
                  .item-input
                    input(type='number', pattern="\d*", name='price', placeholder='Give a price')
              .item-content
                .item-inner
                  .item-input
                    input(type='text', name='postPeriod', placeholder='Posting period', id='calendar-postPeriod', readonly)
   
              -console.log(categoryItems.length);
              -var index = 0
              each item in categoryItems
                -if(index % 2 == 0)
                  .row
                    .col-50.tablet-50.radioItem.hobbyitem
                      span
                        | #{categoryItems[index].itemname}
                      input(type='radio', name='radioItem', value=categoryItems[index].id, style="display: none;")
                      -var pic =  categoryItems[index].pic ? categoryItems[index].pic : '/img/items/1.jpg'
                      img.category(src= pic)
                      img.checked(src='img/checked.png' style="display: none;")
                    -if(index+1 < categoryItems.length)
                      .col-50.tablet-50.radioItem.hobbyitem
                        -console.log(categoryItems[index+1].pic);
                        span
                          | #{categoryItems[index+1].itemname}
                        input(type='radio', name='radioItem', value=categoryItems[index+1].id, style="display: none;")
                        -var pic =  categoryItems[index+1].pic ? categoryItems[index+1].pic : '/img/items/1.jpg'
                        img.category(src= pic)
                        img.checked(src='img/checked.png' style="display: none;")
                -index++;
              //- .row
              //-   .col-50.tablet-50.radioItem iphone
              //-     input(type='radio', name='radioItem', value='1')
              //-   .col-50.tablet-50.radioItem 電腦
              //-     input(type='radio', name='radioItem', value='2')
              //- .row
              //-   .col-50.tablet-50.radioItem 筆電
              //-     input(type='radio', name='radioItem', value='1')
              //-   .col-50.tablet-50.radioItem 筆電
              //-     input(type='radio', name='radioItem', value='1')
              .item-content
                .item-inner
                  .item-input
                    input(type='text', name='item', placeholder='Without your item? Enter a new one !')
              .item-content
                .item-inner
                  .item-input
                    input(type='text', name='content', placeholder='Enter items instruction !')            
    
