extends ./layout

block body
  .views
      .view.view-main.layout-white
        .navbar
          .navbar-inner
            // We need cool sliding animation on title element, so we have additional "sliding" class
            a.left.external(href='/')
              img(src='/img/logo.png', alt='logo', style="height: 45px;")
            //- a#nextSetp.right(href='/storyCategory', data-context="" disabled) Next
        .pages
          .page.navbar-fixed(data-page='storyMode')
            .page-content
              form#storyModeChoose
                .row.no-gutter
                  .col-100.selectMode
                    input(type='radio', name='mode', value='give', style="display: none;")
                    img(src='../img/give.png')
                .row.no-gutter
                  .col-100.selectMode
                    input(type='radio', name='mode', value='get', style="display: none;")
                    img(src='../img/get.png')
            .toolbar.tabbar.tabbar-labels
              .toolbar-inner
                a.tab-link.active(href='/browseBar')
                  img(src='/img/map.png', alt='map', style="height: 35px;")
                a.tab-link(href='/postDetail')
                  img(src='/img/list.png', alt='list', style="height: 35px;")
                a.tab-link(href='/search')
                  img(src='/img/search.png', alt='search', style="height: 35px;")
                a.tab-link(href='/story')
                  img(src='/img/build.png', alt='build', style="height: 35px;")
  block scripts
