.navbar
    .navbar-inner
        .left
          a.back.link(href='#')
            i.icon.icon-back-blue
            span Back
        .right
          a#nextSetp2(href='/storyDetail', data-context="" disabled) Next
    .pages
      .page.navbar-fixed(data-page='stroryHobby')
        .page-content
          form#stroryHobbyChoose
            .row.no-gutter
              .col-100.tablet-50.hobbyitem
                span
                  | 時尚
                input(type='radio', name='hobby', value='1', style="display: none;")
                img.category(src='../img/hobby/fashation.png')
              .col-100.tablet-50.hobbyitem 
                span
                  | 美妝保養
                input(type='radio', name='hobby', value='2', style="display: none;")
                img(src='../img/hobby/lipstick.png')
            .row.no-gutter
              .col-100.tablet-25.hobbyitem
                span
                  | 設計工藝
                input(type='radio', name='hobby', value='3', style="display: none;")
                img(src='../img/hobby/design.png')
              .col-50.tablet-25.hobbyitem
                span
                  | 生活3C
                input(type='radio', name='hobby', value='4', style="display: none;")
                img(src='../img/hobby/3c.png')
              .col-50.tablet-25.hobbyitem
                span
                  | 運動用品
                input(type='radio', name='hobby', value='5', style="display: none;")
                img(src='../img/hobby/sport.png')
              .col-100.tablet-25.hobbyitem 攝影拍照
                input(type='radio', name='hobby', value='6', style="display: none;")
            .row.no-gutter
              .col-100.tablet-40.hobbyitem 名牌精品
                input(type='radio', name='hobby', value='7', style="display: none;")
              .col-50.tablet-60.hobbyitem 復古風情
                input(type='radio', name='hobby', value='8', style="display: none;")
              .col-50.tablet-50.hobbyitem 遊戲玩物
                input(type='radio', name='hobby', value='9', style="display: none;")
              .col-100.tablet-50.hobbyitem 傢具傢居
                input(type='radio', name='hobby', value='10', style="display: none;")
            .row.no-gutter
              .col-100.tablet-25.hobbyitem 課本買賣
                input(type='radio', name='hobby', value='11', style="display: none;")
              .col-50.tablet-25.hobbyitem 書籍雜誌
                input(type='radio', name='hobby', value='12', style="display: none;")
              .col-50.tablet-25.hobbyitem 樂器樂譜
                input(type='radio', name='hobby', value='13', style="display: none;")
              .col-100.tablet-25.hobbyitem 廚房家電
                input(type='radio', name='hobby', value='14', style="display: none;")
            .row.no-gutter
              .col-100.tablet-40.hobbyitem 寶寶時尚
                input(type='radio', name='hobby', value='15', style="display: none;")
              .col-50.tablet-60.hobbyitem 寵物用品
                input(type='radio', name='hobby', value='16', style="display: none;")
              .col-50.tablet-50.hobbyitem 票卷交換
                input(type='radio', name='hobby', value='17', style="display: none;")
              .col-100.tablet-50.hobbyitem 哩哩扣扣
                input(type='radio', name='hobby', value='18', style="display: none;")
