extends ./layout

block body
  .views
      .view.view-main.layout-white
        .navbar
          .navbar-inner
            // We need cool sliding animation on title element, so we have additional "sliding" class
            a.left.external(href='/')
              img(src='/img/logo.png', alt='logo', style="height: 45px;")
            a#nextSetp.right(href='/storyCategory', data-context="" disabled) Next
        .pages
          .page.navbar-fixed(data-page='stroryMode')
            .page-content
              form#stroryModeChoose
                .row.no-gutter
                  .col-100.selectMode Give
                    input(type='radio', name='mode', value='give')
                .row.no-gutter
                  .col-100.selectMode Get
                    input(type='radio', name='mode', value='get')
  block scripts
