.navbar
    .navbar-inner
        .left
          a.back.link(href='#')
            i.icon.icon-back-blue
            span Back
        .right
          a#finishStep(href='templates/finish.html', data-context="" disabled) Finish
    .pages
      .page.navbar-fixed(data-page='stroryHobby')
        .page-content
          form#stroryDetail
            .row
              .col-50.tablet-50 時尚
                input(type='radio', name='item', value='1')
              .col-50.tablet-50 美妝保養
                input(type='radio', name='item', value='2')
            .row
              .col-50.tablet-50 時尚
                input(type='radio', name='item', value='1')
              .col-50.tablet-50 美妝保養
                input(type='radio', name='item', value='2')
            .row
              .col-50.tablet-50 時尚
                input(type='radio', name='item', value='1')
              .col-50.tablet-50 美妝保養
                input(type='radio', name='item', value='2')
