<h1>Friend create page</h1>
<form action="/newfriend" method="POST">
  <label for='user'>Create a friend</label><br>
  fbID:<input type="text" name="fbID" value=""><br>
  name:<input type="text" name="name" value=""><br>
  email:<input type="text" name="email" value="">
  <input type="submit" value="Submit">
</form>
<hr>
<a href="/list">back to user list </a>
