extends ./../layout

block body
  
 .container
   h1 user index
   table.table
     thead
       tr
         th username
         th email
     tbody
       each user in data.users
         tr
           td #{user.username}
           td #{user.email}
  
    
block scripts
