<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back-blue"></i>
        <span>Back</span>
      </a>
    </div>
  </div>
</div>
<div class="pages">
  <div id="registerFinish" data-page="finish" class="page">
    <div class="page-content">
      <div class="content-block">
        <div id="greeting">
          <h2>Welcome to Trade Much.</h1>
            <p>Share everything around your nearby locations</p>
              <form id="singUp-form" class="ajax-submit" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <select id="regionSelect">
                          </select>
                          <!-- <input type="hidden" name="addr"> -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              {{#each this.hobby}}
              <input type="hidden" class="hobby" name="hobby[{{@index}}]" value={ {this}}> {{/each}}
              <div class="list-block">
                <input type="submit" class="button  active" value="Start" style="width:50%; margin:0 auto;">
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
