<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back-blue"></i>
        <span>Back</span>
      </a>
    </div>
  </div>
</div>
<div class="pages">
  <div id="registerFinish" data-page="finish" class="page">
    <div class="page-content">
      <div class="content-block">
        <div id="greeting">
          <h2>Welcome to Trademuch.</h1>
            <p>Share everything around your nearby locations</p>
            <form id="singUp-form"  class="ajax-submit" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <form>
                            <input type="email" name="email" placeholder="E-mail" autofocus>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <select id="regionSelect">
                          </select>
                          <input type="hidden" name="addr">
                          <!-- <input type="text" name="addr" placeholder="Enter your address or living area"> -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                {{#each this.hobby}}
                <input type="hidden" name="hobby[{{@index}}]" value={ {this}}> {{/each}}
              </div>
              <div class="list-block">
                <input type="submit" name="submit" class="button  active" value="Start" style="width:50%; margin:0 auto;">
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places"></script> -->

<script src="/js/finish.js"></script>
