form .row {
  position: relative;
  margin: 0px;
}

.row span {
  position: absolute;
  /*background-color: #01cbbb;*/
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 8px #000,0px 0px 10px #444,0px 0px 12px #666;
  /*margin-top: 10%;*/
  /*margin-left: 40%;*/
  font-size: 25px;
  padding-bottom: 8px;

  /*background-color: rgba(0,0,0,0.3);*/
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7)); /*Standard*/
}

.row img.checked {
  position: absolute;
  opacity: 0.9;
  -webkit-filter: invert(100%);
  left: calc(50% - 46px);
  bottom: calc(50% - 46px);
  color: #000;
}
/*.saturate {-webkit-filter: saturate(3); filter: saturate(3);}*/

.hobbyitem {
  position: relative;
}

img.category {
  width: 100%;
}

#storyDetail .row {
  margin: 5px;
}

div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 2px solid #fff;
  /*padding: 5px;*/
  /*height: 180px;*/
  overflow:hidden;
}

#registerFinish {
  background-image: url(../../img/greeting.jpg);
  background-size: 100% 100%;
}

@media (min-width: 768px){
  #registerFinish {
    background-image: url(../../img/greeting-big.jpg);
    background-size: 100% 100%;
  }
}


#greeting {
  padding: 10%;
  margin-top: 20%;
  color: #fff;
}

#greeting .button {
  margin-right: 30%;
  margin-left: 30%;
  opacity:1 ;
}

#greeting input {
  text-align: center;
}

#storyDetailChoose input {
  text-align: center;
}

#regionSelect {
	font-size: 16px;
  text-indent: calc(50% - 25px);
}

#storyDetailChoose [name=title] {
  font-size: 25px;
}

#storyModeChoose {
  height: 100%
  text-align:center;
}
#storyModeChoose .row{
  height: 50%;
}
#storyModeChoose .selectMode{
  height: 100%;
}
#storyModeChoose img {
  height: 100%;
  /*display:inline-block;*/
  width: 100%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

textarea {
  text-align: center;
}
