form .row {
  margin: 0px;
}

#stroryDetail .row {
  margin: 5px;
}

div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  height: 150px
}

#greeting {
  padding: 10%;
  margin-top: 20%;
}

#greeting .button {
  margin-right: 30%;
  margin-left: 30%
}

#greeting input {
  text-align: center;
}

#stroryModeChoose {
  height: 100%
}
#stroryModeChoose .row{
  height: 50%;
}
#stroryModeChoose .selectMode{
  height: 100%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
