/* */

.top {
  top: 0;
}
a.tab-link.active {
  box-shadow: 0px 0px 5px rgba(30%, 30%, 30%, 0.9), 0px 0px 15px rgba(20%, 20%, 40%, 0.9);
}

/* tab */

.tabbar-labels {
  height: 64px;
}
.toolbar-inner > a > img {
  /* let img in the middle of tab */
  margin-top: 12px;
}

/**/

.action {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(33, 113, 198);
  border-style: solid;
  padding: 5px;
}
.demo-card-header-pic > div:first-child {
  height: 200px;
  background-size: 100%;
  background-position: 50%;
}
.list-block.contacts-list.searchbar-found {
  padding-top: 15px;
}
.map-view {
  /*height: 100%;*/
}
