.top {
  top: 0;
}
.center {
  text-align: center;
}
.right {
  right: 0px;
}
.navbar {
  background-color: #01579B !important;
}
.navbar-inner {
  padding-left: 20px;
}
.navbar-inner img {
  height: 35px !important;
}

/* hot fix remove page buttom space */

div.no-buttom-spaces {
  padding-bottom: 72px;
}

/* toolbar and tab */

.toolbar {
  height: 64px;
  background-color: #212121 !important;
}
.toolbar-inner {
  padding: 0 0px;
}
.toolbar-inner > a > img {
  /* let img in the middle of tab */
  margin-top: 6px;
  height: 30px;
}
a.link {}
a.tab-link.active {
  /*box-shadow: 0px 0px 5px rgba(30%, 30%, 30%, 0.9), 0px 0px 15px rgba(20%, 20%, 40%, 0.9);*/
  background-color: #424242;
}
a.tab-link {}
.toolbar .storyView {
  background-color: #01579B;
}
.toolbar .storyView img {
  /*margin-top: px;*/
  height: 40px;
}

/* page and view */

.content-block {
  height: 100%;
  padding: 0px;
  margin: 70px 0px -70px 0px;
}
#mapView {
  height: 100%;
}
iframe#map {
  height: 100%;
  width: 100%;
  border: 0;
}

/* nav bar */

img.action {
  height: 35px;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(33, 113, 198);
  border-style: solid;
  padding: 5px;
}
a {
  color: #fff;
}
i.icon.icon-back-white.icon-back {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* search view */

#searchView > .page-content {
  margin: 0px auto;
  margin-bottom: 60px;
}
ul#search-result {
  margin-top:120px;
  margin-bottom: -90px;
}
#formSearch.searchbar {
  position: fixed;
  z-index: 999;
  margin-top: -2px;
}
.categories {
  margin: 0;
  position: fixed;
  z-index: 999;
  top: 140px;
  padding: 6px;
  width: 100%;
  background-color: #fff;
}
.categories > .button {
  margin-left: 10px margin-top: 3px;
}
.item-title > a {
  color: #000;
  font-weight: bold;
}

.link.backTop{
  color: #01579b;
}

/*searchView back to top*/

#back-top {
  position: fixed;
  bottom: 30px;
  z-index: 5001;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  /*overflow-x: hidden;
  overflow-y: scroll;*/
}
#back-top a {
  width: 65px;
  display: block;
  text-align: center;
  font: 10px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  position: fixed;
  bottom: 30px;
  margin-left: 335px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  text-shadow: 0px 0px 8px #000, 0px 0px 10px #444, 0px 0px 12px #666;
}
#back-top a:hover {
  color: #fff;
  text-shadow: 0px 0px 8px #000, 0px 0px 10px #444, 0px 0px 12px #666;
}
#back-top > a > span {
  width: 65px;
  height: 65px;
  display: block;
  margin-bottom: 7px;
  background: #01579b url(/img/up-arrow.png) no-repeat center center;
  background-size: 50%;
  opacity: 0.7;
  /* rounded corners */
  -webkit-border-radius: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #01579b;
}

/* map-marker */

.get {
  border: 1px solid #28a7e1;
}
.give {
  border: 1px solid #f39800;
}

/* card view */

.card-title {
  background-color: rgba(128, 152, 161, 0.5);
  width: 100%;
  font-size: 2em;
  text-align: center;
  top: 0;
  margin-top: 0%;
}
.card > .card-footer {}
.demo-card-header-pic > div:first-child {
  height: 150px;
  background-size: 100%;
  background-position: 50%;
}
p.card-desc > img {
  margin-top: 2px;
  height: 34px;
}

/* favorite no login & no favorite*/

div#favoriteView {
  margin-bottom: 72px;
}
p.fav-no-item {
  margin-top: 50%;
  font-size: 2em;
  width: 100%;
}
p.fav-no-log-in > img {
  width: 25%;
}
p.fav-no-log-in {
  margin-top: 50%;
  font-size: 2em;
  width: 100%;
}
p.fav-no-item > img {
  width: 25%;
}

/* faviraite-button */

div.favbox {
  /*position: absolute;*/
  top: 30px;
  z-index: 9999;
  padding: 7.6px;
  background-color: #36b6ff;
  color: white;
}
div.favbox > a > i:hover {
  color: red;
}
div.favbox > a > i {
  color: white;
}

/* 調整 for listView的favbox */

div.favbox.listView {
  height: 34px;
}
div.favbox.listView > a {
  margin-top: -24px;
}

/* 調整 for favoriteView的favbox */

div.favbox.favoriteView {
  height: 34px;
}
div.favbox.favoriteView > a {
  margin-top: -24px;
}

/* detail-button */

div.detbox {
  /*position: absolute;*/
  top: 30px;
  z-index: 9999;
  padding: 7.6px;
}
