/*profile page*/

.bold {
  font-weight: 900;
}
.black{
  color: #000;
}
.profile-picture {
  margin-top: -50px;
  margin-left: 10%;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 60%;
}
.profile-picture > img {
  width: auto;
  height: 100%;
  margin-left: -18px;
}
.profile-detail {
  margin-bottom: 50px;
  margin-left: -40px;
  margin-top: -37px;
  margin-right: 35px;
  text-align: center;
}
.profile-detail > span.name {
  font-size: 26px;
  color: #01579b;
}
.profile-detail > div span {
  font-size: 17px;
}

/*#profileView .content-block{
  overflow:hidden;
}*/

.row {
  font-size: 18px;
  margin: 0;
}

.profile-description {
  font-size: 14px;
  padding-left: 16px;
  height: 40px;
  padding-top: 11px;
  margin-top: -12px;
}
