/* fileUpload-input */
div.fileUpload-input {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1px;
}
div.fileUpload-input > img {
  max-width: 100%;
  max-height: 150px;
  border-color: rgba(69, 69, 69, 0.89);
  border-width: 1px;
  border-style: outset;
  display: none;
}
div.fileUpload-btn {
  top: -20px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}
div.fileUpload-btn > span {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}
div.fileUpload-btn > input.uploadBtn, input.submit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
input#uploadFile {
  margin-bottom: 10px;
  text-align: center;
  border-width: 0px;
  width: 1em;
}

/*.category {
  margin-top: 35px;
}*/


#storyImageUpload>.list-block {
  margin-bottom: 0px;
}

#storyDetailChoose>.list-block {
  margin-top: 0px;
}
